
.cont{
  margin-top: 20px;
}

.vn{
  display: flex;
 
}

.vk{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 20px 20px 20px;
  box-shadow: 63px rgb(81, 80, 80);

  height: 280px;
 
}

.cab{
  display: flex;
  flex-direction: column;
}

.cal{
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  margin-top: 30px;
}

.cn{
  margin-left: 60px;
}

.ii{
  margin-left: 10px;
}


.tt{
  margin-top: -90px;
}

.lod{
  width: 90px;
  height: 90px;
}

.pour{
  margin-top: -55px;
}

.cont-statPod{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 60px;
}

.for1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 150px;
  background-color: white;
  border-radius: 20px 20px 20px;
  box-shadow: 1px  rgb(133, 131, 131);
}

.se{
  margin-top: -40Px;
}

.zr{
  margin-top: 50px;
}

.vb{
  border: 1px solid black;
}

.ligne{
    width: 200px;
    height: 5px;
    background-color: blue;
}


.vl{
  display: flex;
  flex-direction: column;
}

.tab{
  margin-top: 10px;
}

.tab1{
  margin-top: 80px;
}

.BtnAjt{
  margin-top: 60px;
  margin-left: 1400px;
}

.BtnAjt1{
  margin-top: -6px;
  margin-left: 1400px;
}












.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
